@import "../../styles/index";
a.dnn-back-to-link {
    font-weight: bold;
    color: var(--dnn-color-foreground, @thunder);
    cursor: pointer;
    display: inline-block;
    > span {
        font-size: 11px;
        text-transform: uppercase;
        margin-left: 13px;
    }
    .dnn-back-to-arrow {
        float: left;
        margin-left: -3px;
        > svg {
            width: 16px;
            height: 16px;
            fill: var(--dnn-color-foreground, @thunder);
        }
    }
    &:hover {
        color: @mountainMist;
        .dnn-back-to-arrow {
            > svg {
                fill: var(--dnn-color-foreground-light, @mountainMist);
            }
        }
    }
}


// START Persian-DnnSoftware
.rtl {
    a.dnn-back-to-link {
        > span {
            margin-left: unset;
            margin-right: 13px;
        }
        .dnn-back-to-arrow {
            float: right;
            margin-left: unset;
            margin-right: -3px;
        }
    }
}
// END Persian-DnnSoftware