/* persian-dnnsoftware */
@use "base/base.rtl";
@use "ui/ui.rtl";
@use "modules/modules.rtl";

h2.dnnFormSectionHead {
    margin-top: 8px;
    margin-bottom: 18px;
    border-bottom: 1px solid var(--dnn-color-foreground-light, #ddd);
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.001875rem;
    direction: rtl; /* راستچین کردن متن */
    h2.dnnFormSectionHead a {
        display: block;
        padding-right: 3px; /* تغییر padding از سمت چپ به سمت راست */
        background: url(../../../../../images/down-icn.png) no-repeat left 50%; /* تغییر موقعیت آیکن به سمت چپ */
        text-decoration: none;
        color: var(--dnn-color-foreground, #333);
        font-size: 7.375rem;
        letter-spacing: normal;
        font-weight: normal;

        &:hover {
            color: #222;
            background: rgba( var(--dnn-color-primary-r, 2), var(--dnn-color-primary-g, 139), var(--dnn-color-primary-b, 255), 0.05) url(../../../../../images/down-icn.png) no-repeat left 50%; /* تغییر موقعیت آیکن در حالت hover */
        }

        &.dnnSectionExpanded {
            background: url(../../../../../images/up-icn.png) no-repeat left 50%; /* تغییر موقعیت آیکن به سمت چپ */
            color: var(--dnn-color-foreground, #222);

            &:hover {
                color: var(--dnn-color-foreground, #222);
                background: rgba( var(--dnn-color-primary-r, 2), var(--dnn-color-primary-g, 139), var(--dnn-color-primary-b, 255), 0.05) url(../../../../../images/up-icn.png) no-repeat left 50%; /* تغییر موقعیت آیکن در حالت hover */
            }
        }
    }
}