@import "~@dnnsoftware/dnn-react-common/styles/index";
.theme-settings{
    padding: 15px 15px 0 0;
    position: relative;

    & > .dnn-grid-cell > .left-column{
        padding-top: 20px;
    }
    & > .dnn-grid-cell > .right-column{
        border-left: 1px solid @alto;
        padding: 20px 0 0 65px;

        .dnn-radio-buttons{
            margin: 18px 0 0 0;
            
            ul li{
                margin-left: 0;

                &:first-child{
                    margin-right: 30px;
                }
            }
        } 
    }
}


// START Persian-DnnSoftware
.rtl .theme-settings {
  padding: 15px 0 0 15px; /* Flipped padding-left and padding-right */

  & > .dnn-grid-cell > .right-column {
    border-left: none; /* Remove LTR border */
    border-right: 1px solid @alto; /* Add RTL border */
    padding: 20px 65px 0 0; /* Flipped padding-left to padding-right */

    .dnn-radio-buttons {
      /* margin is fine, as symmetric horizontal margins */
      ul li {
        margin-left: unset; /* Unset LTR margin */
        margin-right: 0; /* Align to the right for RTL */

        &:first-child {
          margin-right: unset; /* Unset LTR margin */
          margin-left: 30px; /* Set RTL margin */
        }
      }
    }
  }
}
// END Persian-DnnSoftware
