@import "~@dnnsoftware/dnn-react-common/styles/index.less";
.collapsible-component-properties {
    display: block;
    float: left;
    width: 100%;
    cursor: auto;
    &:not(:last-child) {
        border-bottom: 1px solid @alto;
    }
    div.collapsible-header-properties {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px 0 10px 0;
        box-sizing: border-box;
        cursor: auto;
        .row {
            float: left;
            width: 100%;
            .item-row-name {
                width: 23%;
                float: left;
                padding-left: 15px;
                word-break: break-all;
            }
            .item-row-dataType {
                width: 20%;
                float: left;
            }
            .item-row-defaultVisibility {
                width: 20%;
                float: left;
            }
            .item-row-required, .item-row-visible {
                width: 10%;
                float: left;
                text-align: center;
                .checkMarkIcon {
                    width: 16px;
                    height: 16px;
                    margin-left: auto;
                    margin-right: auto;
                    > svg {
                        fill: @thunder;
                    }
                }
            }
            .item-row-editButton {
                width: 13% !important;
                float: right;
                margin-right: 10px;
                &:not(:last-child) {
                    float: left;
                    margin-right: 0px;
                }
                .delete-icon, 
                .edit-icon, 
                .order-icon {
                    display: block;
                    cursor: pointer;
                    float: right;
                    margin-left: 5px;
                    > svg {
                        width: 16px;
                        float: left;
                        height: 16px;
                        &:hover {
                            fill: @thunder;
                        }
                        fill: @alto;
                    }
                }
                .delete-icon-hidden,
                .order-icon-hidden {
                    display: none;
                }
                .edit-icon-active, 
                .order-icon-active {
                    > svg {
                        float: right;
                        margin-left: 5px;
                        width: 16px;
                        height: 16px;
                        fill: @curiousBlue;
                    }
                }
            }
            .item-row-wrapper {
                padding: 0 5px 0 5px;
            }
        }
    }
    .collapsible-body-properties {
        width: 100%;
    }
}


// START Persian-DnnSoftware
.rtl .collapsible-component-properties {
  float: right;
  div.collapsible-header-properties {
    float: right;
    .row {
      float: right;
      .item-row-name {
        float: right;
        padding-left: unset;
        padding-right: 15px;
      }
      .item-row-dataType {
        float: right;
      }
      .item-row-defaultVisibility {
        float: right;
      }
      .item-row-required, .item-row-visible {
        float: right;
        text-align: center;
        .checkMarkIcon {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .item-row-editButton {
        float: left;
        margin-right: unset;
        margin-left: 10px;
        &:not(:last-child) {
          float: right;
          margin-right: unset;
          margin-left: 0px;
        }
        .delete-icon,
        .edit-icon,
        .order-icon {
          margin-left: unset;
          margin-right: 5px;
          float: left;
          > svg {
            float: right;
          }
        }
        .edit-icon-active,
        .order-icon-active {
          > svg {
            float: left;
            margin-left: unset;
            margin-right: 5px;
          }
        }
      }
      .item-row-wrapper {
        padding: 0 5px 0 5px;
      }
    }
  }
  .collapsible-body-properties {
    float: right;
  }
}
// END Persian-DnnSoftware
