@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.taskStatusItemRow) {
    border: solid 1px @alto;
    margin: 15px 15px 0px 15px;
    float: left;
    &:not(:first-child) {
        margin-top: 15px;
    }
    &:last-child {
        margin-bottom: 15px;
    }
}


// START Persian-DnnSoftware
.rtl :local(.taskStatusItemRow) {
  float: right;
  margin: 15px 15px 0px 15px; /* Symmetric horizontal margins, no change needed in values */
  &:not(:first-child) {
    margin-top: 15px;
  }
  &:last-child {
    margin-bottom: 15px;
  }
}
// END Persian-DnnSoftware
