@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.editSkinObj) {
    .dnn-switch-container {
        width: 100%;
        .dnn-switch {
            float: right;
        }
    }
}


// START Persian-DnnSoftware
.rtl :local(.editSkinObj) {
  .dnn-switch-container {
    .dnn-switch {
      float: left;
    }
  }
}
// END Persian-DnnSoftware