/* persian-dnnsoftware */

/* استایل‌دهی به کنترل‌های DnnFileEditControl و DnnFilePicker در وب‌فرم‌ها */

span[id$="FileControl"] {
    display: block;
    float: right; /* راستچین شد */
}

.dnnFilePicker {
    display: block;
    float: right; /* راستچین شد */
    background-color: var(--dnn-color-background, #f0f0f0);
    margin-bottom: 10px;
    margin-left: 10px; /* راستچین شد */
    padding: 0 15px 0 15px;
    width: 450px;

    .dnnLeft {
        margin: 0;
        padding: 0;
        margin-top: -30px;

        img {
            max-width: 135px;
            max-height: 100px;
        }

        .dnnFilePickerImageHolder {
            width: 135px;
            height: 100px;
            background-color: #ccc;
            margin: 20px 15px;
        }

        a.dnnSecondaryAction {
            margin: 10px 0 0 10px; /* راستچین شد */
            display: inline-block;
        }

        img {
            display: block;
            margin: 20px 15px;
        }
    }

    .dnnFormItem {
        margin: 0;
        margin-top: -10px;
        padding: 0;
        position: static;

        span {
            display: block;
            float: right; /* راستچین شد */
            width: 40px;
            margin-top: 8px;
            padding-right: 5px; /* راستچین شد */
            text-align: right; /* راستچین شد */
        }
    }

    select, input {
        width: 200px;
        margin: 0;
        margin-left: 10px; /* راستچین شد */
        float: none;
    }
}
