:local(.usersList) {
    .dnn-grid-cell {
        overflow-wrap: break-word;
        &.no-users {
            float: left;
            width: 100%;
            text-align: center;
            padding: 10px;
        }
    }
}

// START Persian-DnnSoftware
.rtl :local(.usersList) {
  .dnn-grid-cell {
    &.no-users {
      float: right;
    }
  }
}
// END Persian-DnnSoftware
