
@import "~@dnnsoftware/dnn-react-common/styles/index";
#security-container {
    .dnn-persona-bar-page {
        border-bottom: 0;
        .primary {
            > .react-tabs__tab-list {
                > .react-tabs__tab {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        .row-opened {
            margin-top: -1px;
            margin-bottom: -1px;
            border-top: 2px solid @curiousBlue;
            border-bottom: 2px solid @curiousBlue !important;
        }
    }
}


// START Persian-DnnSoftware
.rtl #security-container {
  .dnn-persona-bar-page {
    .primary {
      > .react-tabs__tab-list {
        > .react-tabs__tab {
          padding-left: unset; /* Remove LTR padding */
          padding-right: unset; /* Remove LTR padding */
          padding-right: 30px; /* Set RTL padding-right, same as LTR padding-left for visual symmetry */
          padding-left: 30px;  /* Set RTL padding-left, same as LTR padding-right for visual symmetry */
        }
      }
    }
  }
}
// END Persian-DnnSoftware